* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-card: #2A2141;
    --title-color: #FFFFFF;
    --text-color: rgba(196, 196, 204, .5);
}

body {
    background-color: #0F0D13; 
}

/*Container Geral*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 200px;
}


/*Container da Esquerda*/
.container-left {
    width: 266px;
    height: 498px;
    padding: 38px;
    background: var(--bg-card);
    border-radius: 10px;
}

.container-left .content {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.container-left .content img {
    width: 189px;
}

.container-left .content h1 {
    font-size: 24px;
    color: var(--title-color);
}

.container-left .content p {
    margin-top: 10px;
    font-size: 19px;
    color: var(--text-color);


}

.container-left .content .music-controllers {
    display: flex;
    width: 189px;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.container-left .content .music-controllers img {
    height: auto;
}

.container-left .content .progress-bar img {
    width: 189px;
    height: 6px;
    border-radius: 10px;
}

.container-left .content .music-time {
    display: flex;
    justify-content: space-between;
}

.container-left .content .music-time p {
    color: var(--text-color);
    font-size: 14px;
}


/*Container da Direita*/
.container-right {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/*Primeiro Conteúdo - Container da Direita*/
.container-right .first-content {
    width: 357px;
    height: 266px;
    background: var(--bg-card);
    border-radius: 9.60297px;
    padding: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}


.container-right .first-content .music-information {
    display: flex;
    gap: 28px;
}

.container-right .first-content .music-information img {
    width: 84px;
}

.container-right .first-content .music-information h1 {
    font-size: 24px;
    color: var(--title-color);
}

.container-right .first-content .music-information p {
    margin-top: 10px;
    font-size: 19px;
    color: var(--text-color);
}

.container-right .first-content .music-controllers {
    display: flex;
    width: 189px;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.container-right .first-content .progress-bar img {
    width: 300px;
    height: 6px;
    border-radius: 10px;
}

.container-right .first-content .music-time {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.container-right .first-content .music-time p {
    color: var(--text-color);
    font-size: 14px;
}

/*Segundo Conteúdo - Container da Direita*/
.container-right .second-content {
    width: 357px;
    height: 199px;
    background: var(--bg-card);
    border-radius: 9.60297px;
    padding: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}

.container-right .second-content .music-information {
    display: flex;
    gap: 28px;
}

.container-right .second-content .music-information img {
    width: 84px;
}

.container-right .second-content .music-information h1 {
    font-size: 24px;
    color: var(--title-color);
}

.container-right .second-content .music-information p {
    margin-top: 10px;
    font-size: 19px;
    color: var(--text-color);
}


.container-right .second-content .music-controllers {
    display: flex;
    gap: 50px;
}
